<link rel="stylesheet" href="main.css">
<div class="container main mt-3 pt-1 pb-3">
    <div class="d-flex justify-content-between mb-2">
        <div class="infoAdmin">
            <img src="https://cdn-icons-png.flaticon.com/512/6830/6830335.png" alt="avatar">
            <span id="getUsername" class="font-weight-bold">username</span>
        </div>
        <div><span class="font-weight-bold" id="getPrice">0d</span></div>
    </div>
    <span class="font-weight-bold" id="keyAccount">Key account: xxx</span><br>
    <span class="font-weight-bold" id="accountId">Account ID: xxx</span>
    <hr>
    <h5 class="font-weight-bold">Topup</h5>
    <span>Top up funds for the user based on the account ID</span>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="moneyValue" placeholder="amount of money in number">
        <input type="text" class="ml-1 form-control" id="userId" placeholder="userId">
        <div class="input-group-append">
            <button class="btn btn-outline-success" id="add" type="button">Add</button>
        </div>
    </div>
</div>
<script type="module" src="./main.js"></script>