<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="auth/css/auth.css">
    <link rel="icon" href="#" type="image/x-icon" />
</head>
<body>
    <div class="container _main">
        <div class="header">
            <img src="https://cdn-icons-png.flaticon.com/512/5087/5087579.png" alt="Image login" />
            <h4 class="font-weight-bold text-white">LOGIN ACCOUNT</h4>
        </div>
        <div class="content">
            <input type="text" id="username" class="form-control mb-2" placeholder="Username ...">
            <input type="password" id="password" class="form-control mb-2" placeholder="Password ...">
            <button class="btn btn-success btn-submit font-weight-bold" id="login">Login</button>
        </div>
        <div class="footer mt-2">
            <a href="/register">Register account</a>
        </div>
    </div>
</div>
</body>
<script type="module" src="auth/js/main.js"></script>