<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="auth/css/auth.css">
    <link rel="icon" href="#" type="image/x-icon" />
</head>
<body>
    <div class="container _main mb-5">
        <div class="header">
            <img src="https://cdn-icons-png.flaticon.com/512/5087/5087579.png" alt="Image login" />
            <h4 class="font-weight-bold text-white">REGISTER ACCOUNT</h4>
        </div>
        <div class="content">
            <input type="text" class="form-control mb-2" placeholder="Email" id="email">
            <input type="text" class="form-control mb-2" placeholder="User name" id="username">
            <input type="text" class="form-control mb-2" placeholder="First name" id="firstName">
            <input type="text" class="form-control mb-2" placeholder="Last name" id="lastName">
            <input type="password" class="form-control mb-2" placeholder="Password" id="password">
            <input type="password" class="form-control mb-2" placeholder="Confirm password" id="re_password">
            <button class="btn btn-success btn-submit font-weight-bold" id="register">Register</button>
        </div>
        <div class="footer mt-2">
            <a type="module" href="/login">Login account</a>
        </div>
    </div>
</div>
</body>
<script  type="module" src="auth/js/register.js"></script>
